<h1>Songs show page</h1>

<p> Title: <%= @song.title %> </p>
<p> Artist:  <%= @song.artist_name %> </p>
<p> Genre: <%= @song.genre_name %></p>

<%= link_to '<button type="button">Edit </button>'.html_safe, edit_song_path %>
